In [1]:
import pandas as pd

In [3]:
crime_data = pd.read_csv("Copy of Table_8_Offenses_Known_to_Law_Enforcement_by_State_by_City_2022.csv")
crime_data.head()

,Table 8,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Offenses Known to Law Enforcement,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"by State by City, 2022",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,City,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson1
3,ALABAMA,Abbeville,"2,390",13,0,0,0,13,42,10,30,2,0
4,NaN,Adamsville,"4,233",19,1,0,0,18,230,18,195,17,0