In [1]:
%matplotlib notebook

In [2]:
# Dependencies.
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np

In [3]:
csv_path_2015 = Path("Data_Ref_2015.csv")
csv_path_2017 = Path("Data_Ref_2017.csv")
csv_path_2018 = Path("Data_Ref_2018.csv")
csv_path_2020 = Path("Data_Ref_2020.csv")
csv_path_2022 = Path("Data_Ref_2022.csv")

In [4]:
low_memory=False
CD15 = pd.read_csv(csv_path_2015)
CD17 = pd.read_csv(csv_path_2017)
CD18 = pd.read_csv(csv_path_2018)
CD20 = pd.read_csv(csv_path_2020)
CD22 = pd.read_csv(csv_path_2022)

C:\Users\EFMel\AppData\Local\Temp\ipykernel_29760\132651849.py:6: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  CD22 = pd.read_csv(csv_path_2022)

In [5]:
CD22["incident_id"] = CD22["incident_id"].astype(np.int64)

In [12]:
# Isolate number of unique incident ID's for reference.
Incidents15 = len(CD15["incident_id"].unique())
Incidents17 = len(CD17["INCIDENT_ID"].unique())
Incidents18 = len(CD18["INCIDENT_ID"].unique())
Incidents20 = len(CD20["INCIDENT_ID"].unique())
Incidents22 = len(CD22["incident_id"].unique())
Incident_Master = pd.DataFrame({"Year":[2015, 2017, 2018, 2020, 2022], 
                   "Incidents":[Incidents15, Incidents17, Incidents18, Incidents20, Incidents22]})
Incident_Master

   Year  Incidents
0  2015     457238
1  2017     409541
2  2018     461161
3  2020     409541
4  2022     402260

In [13]:
Offenses15 = len(CD15["offense_id"].unique())
Offenses17 = len(CD17["OFFENSE_ID"].unique())
Offenses18 = len(CD18["OFFENSE_ID"].unique())
Offenses20 = len(CD20["OFFENSE_ID"].unique())
Offenses22 = len(CD22["offense_id"].unique())
Offenses_Master = pd.DataFrame({"Year":[2015, 2017, 2018, 2020, 2022], 
                   "Offenses":[Offenses15, Offenses17, Offenses18, Offenses20, Offenses22]})
Offenses_Master

   Year  Offenses
0  2015    510923
1  2017    473941
2  2018    527986
3  2020    473941
4  2022    467550

In [14]:
Race15 = CD15["race"].value_counts().map("{:,.0f}".format)
Race17 = CD17["RACE"].value_counts().map("{:,.0f}".format)
Race18 = CD18["RACE"].value_counts().map("{:,.0f}".format)
Race20 = CD20["RACE"].value_counts().map("{:,.0f}".format)
Race22 = CD22["race"].value_counts().map("{:,.0f}".format)
Race_Master = pd.DataFrame({
    2015:Race15, 
    2017:Race17,
    2018:Race18, 
    2020:Race20, 
    2022:Race22
}).fillna(0)
Race_Master

,2015,2017,2018,2020,2022
American Indian or Alaska Native,633,779,723,779,724
Asian,"2,804","1,480","1,962","1,480","1,673"
Black or African American,"220,494","206,174","238,534","206,174","203,507"
Native Hawaiian or Other Pacific Islander,205,301,334,301,526
Not Specified,0,0,0,0,"101,653"
Unknown,"174,195","158,937","170,712","158,937","60,545"
White,"309,963","276,032","327,807","276,032","243,526"

In [15]:
Sex15 = CD15["sex_code_y"].value_counts().map("{:,.0f}".format)
Sex17 = CD17["SEX_CODE_y"].value_counts().map("{:,.0f}".format)
Sex18 = CD18["SEX_CODE_y"].value_counts().map("{:,.0f}".format)
Sex20 = CD20["SEX_CODE_y"].value_counts().map("{:,.0f}".format)
Sex22 = CD22["sex_code_y"].value_counts().map("{:,.0f}".format)
Sex_Master = pd.DataFrame({
    2015:Sex15, 
    2017:Sex17,
    2018:Sex18, 
    2020:Sex20, 
    2022:Sex22
}).fillna(0)
Sex_Master

      2015     2017     2018     2020     2022
F  167,089  151,709  181,318  151,709  138,032
M  374,854  341,703  395,638  341,703  320,550
U   71,190   92,652  105,066   92,652   51,919
X        0        0        0        0  101,653

In [16]:
Location15 = CD15["location_name"].value_counts().map("{:,.0f}".format)
Location17 = CD17["LOCATION_NAME"].value_counts().map("{:,.0f}".format)
Location18 = CD18["LOCATION_NAME"].value_counts().map("{:,.0f}".format)
Location20 = CD20["LOCATION_NAME"].value_counts().map("{:,.0f}".format)
Location22 = CD22["location_name"].value_counts().map("{:,.0f}".format)
Location_Master = pd.DataFrame({
    2015:Location15, 
    2017:Location17,
    2018:Location18, 
    2020:Location20, 
    2022:Location22
}).fillna(0)
Location_Master

,2015,2017,2018,2020,2022
ATM Separate from Bank,565,475,927,475,376
Abandoned/Condemned Structure,945,729,654,729,494
Air/Bus/Train Terminal,951,642,"1,050",642,"1,408"
Amusement Park,132,243,389,243,370
Arena/Stadium/Fairgrounds/Coliseum,465,264,541,264,426
Auto Dealership New/Used,"1,688","2,455","2,022","2,455","2,371"
Bank/Savings and Loan,"6,200","4,437","6,324","4,437","5,750"
Bar/Nightclub,"3,896","2,496","3,417","2,496","4,012"
Camp/Campground,600,592,624,592,599
Church Synagogue/Temple,"2,356",0,0,0,0
Church/Synagogue/Temple/Mosque,0,"2,199","2,448","2,199","2,040"
Commercial/Office Building,"8,617","7,043","7,915","7,043","7,985"
Community Center,175,504,346,504,659
Construction Site,"1,732","2,125","2,436","2,125","2,232"
Convenience Store,"18,303","24,239","24,767","24,239","19,705"
Daycare Facility,389,229,303,229,236
Department/Discount Store,"53,863","38,149","48,974","38,149","31,910"
Dock/Wharf/Freight/Modal Terminal,328,397,403,397,501
Drug Store/Doctor's Office/Hospital,0,"4,498","5,576","4,498","4,830"
Drug Store/Dr. s Office/Hospital,"6,265",0,0,0,0
Farm Facility,626,528,628,528,360
Field/Woods,"3,649","2,778","3,358","2,778","2,238"
Gambling Facility/Casino/Race Track,850,2,28,2,7
Government/Public Building,"4,590","2,779","3,784","2,779","2,707"
Grocery/Supermarket,"13,006","12,714","14,593","12,714","10,426"
Highway/Road/Alley/Street/Sidewalk,0,"111,064","128,842","111,064","108,745"
Highway/Road/Ally,"108,379",0,0,0,0
Hotel/Motel/Etc.,"14,679","15,534","15,887","15,534","12,966"
Industrial Site,765,736,824,736,939
Jail/Prison,"4,519",0,0,0,0
Jail/Prison/Penitentiary/Corrections Facility,0,"3,525","5,079","3,525","3,878"
Lake/Waterway,799,0,0,0,0
Lake/Waterway/Beach,0,529,650,529,391
Liquor Store,922,"1,183",865,"1,183","1,248"
Military Installation,21,12,36,12,11
Other/Unknown,"17,943","16,664","17,417","16,664","20,938"
Park/Playground,"4,926","3,410","4,575","3,410","4,021"
Parking Lot/Garage,"66,804",0,0,0,0
Parking/Drop Lot/Garage,0,"73,234","79,045","73,234","73,621"
Rental Stor. Facil.,"1,898",0,0,0,0
Rental Storage Facility,0,"3,020","2,246","3,020","2,698"
Residence/Home,"314,460","268,769","302,293","268,769","235,126"
Rest Area,78,151,78,151,189
Restaurant,"9,784","8,772","11,711","8,772","9,507"
School-College/University,"1,998","1,074","2,454","1,074","1,349"
School-Elementary/Secondary,"11,948","5,801","13,166","5,801","14,821"
School/College,0,6,21,6,113
Service/Gas Station,"5,634","7,165","6,947","7,165","6,272"
Shelter-Mission/Homeless,228,276,277,276,463
Shopping Mall,"1,547","1,865","2,485","1,865","2,074"
Specialty Store,"10,767","10,396","13,665","10,396","11,132"
Tribal Lands,4,0,2,0,10

In [17]:
Offense15 = CD15["offense_type"].value_counts().map("{:,.0f}".format)
Offense17 = CD17["OFFENSE_TYPE"].value_counts().map("{:,.0f}".format)
Offense18 = CD18["OFFENSE_TYPE"].value_counts().map("{:,.0f}".format)
Offense20 = CD20["OFFENSE_TYPE"].value_counts().map("{:,.0f}".format)
Offense22 = CD22["offense_type"].value_counts().map("{:,.0f}".format)
Offense_Master = pd.DataFrame({
    2015:Offense15, 
    2017:Offense17,
    2018:Offense18, 
    2020:Offense20, 
    2022:Offense22
}).fillna(0)
Offense_Master

,2015,2017,2018,2020,2022
Animal Cruelty,0,543,568,543,829
Arson,"1,355","1,133","1,003","1,133","1,009"
Assault Offenses,"151,863","138,125","148,783","138,125","135,111"
Bribery,25,34,25,34,42
Burglary/Breaking & Entering,"54,426","32,532","41,651","32,532","27,391"
Counterfeiting/Forgery,"9,574","7,081","9,954","7,081","7,068"
Destruction/Damage/Vandalism of Property,"62,541","57,165","57,159","57,165","52,722"
Drug/Narcotic Offenses,"149,155","138,411","179,401","138,411","129,188"
Embezzlement,"3,445","1,842","3,233","1,842","2,391"
Extortion/Blackmail,177,552,470,552,948
Fraud Offenses,"34,423","30,559","36,789","30,559","31,230"
Gambling Offenses,"1,485",110,418,110,562
Homicide Offenses,830,"1,068",946,"1,068",912
Human Trafficking,63,69,47,69,104
Kidnapping/Abduction,"2,313","2,355","2,056","2,355","2,048"
Larceny/Theft Offenses,"176,087","155,711","177,713","155,711","139,520"
Motor Vehicle Theft,"15,759","27,467","26,387","27,467","31,341"
Pornography/Obscene Material,982,"1,000","1,224","1,000","1,430"
Prostitution Offenses,"2,209",609,967,609,670
Robbery,"15,421","11,719","15,553","11,719","9,008"
Sex Offenses,"6,228","5,054","5,951","5,054","5,774"
"Sex Offenses, Non-forcible",0,461,427,461,323
Stolen Property Offenses,"2,044","5,376","4,906","5,376","4,704"
Weapon Law Violations,"17,889","24,727","24,441","24,727","27,829"