In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import glob
import os

In [15]:
crime_data_df = pd.read_csv('resources/clean_data.csv')

crime_data_df.head()

,agency_id,incident_id,nibrs_month_id,incident_date,county_name,ncic_agency_name,population,offense_name,crime_against,offense_category_name,...,location_id,arrestee_id,arrest_date,offense_code,age_num,sex_code,race_id,race_desc,location_code,location_name
0,18170,147462560,40388953,2022-01-02,ANDERSON,ANDERSON CO SO CLINTON,33960,Stolen Property Offenses,Property,Stolen Property Offenses,...,35,45179953,2022-01-10,280,27,M,10,White,20,Residence/Home
1,18170,147462424,40388953,2022-01-03,ANDERSON,ANDERSON CO SO CLINTON,33960,Simple Assault,Person,Assault Offenses,...,35,45179912,2022-01-03,13B,72,M,10,White,20,Residence/Home
2,18170,147462438,40388953,2022-01-03,ANDERSON,ANDERSON CO SO CLINTON,33960,Simple Assault,Person,Assault Offenses,...,35,45179916,2022-01-03,13B,40,M,10,White,20,Residence/Home
3,18170,147462568,40388953,2022-01-08,ANDERSON,ANDERSON CO SO CLINTON,33960,Aggravated Assault,Person,Assault Offenses,...,35,45179956,2022-01-08,13A,25,M,10,White,20,Residence/Home
4,18170,147462568,40388953,2022-01-08,ANDERSON,ANDERSON CO SO CLINTON,33960,Aggravated Assault,Person,Assault Offenses,...,35,45179957,2022-01-08,13A,44,M,10,White,20,Residence/Home

/var/folders/hr/lxsvmc995x71v3dn86jfn9jr0000gn/T/ipykernel_13410/3282440374.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_by_month.loc['arrest_date',:] = pd.to_datetime(crime_by_month['arrest_date'])

   incident_id arrest_date
0  147462560.0  2022-01-10
1  147462424.0  2022-01-03
2  147462438.0  2022-01-03
3  147462568.0  2022-01-08
4  147462568.0  2022-01-08

            Number of incidents     Months
0                   147462560.0 2022-01-10
1                   147462424.0 2022-01-03
2                   147462438.0 2022-01-03
3                   147462568.0 2022-01-08
4                   147462568.0 2022-01-08
...                         ...        ...
166681              165544323.0 2022-09-07
166682              165544323.0 2022-09-12
166683              166337963.0 2022-11-09
166684              163097541.0 2022-03-22
arrest_date                 NaT        NaT

[166686 rows x 2 columns]